.carousel-container {
    max-width: 85%; /* Adjust the percentage as needed */
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .carousel-container {
      max-width: 90%; /* Adjust the percentage as needed for smaller screens */
    }
  }
  